<% content_for( :h1_title ) do %>
    <% h1_title = "About Us" %>
<% end %>
    <p>
      Pauli Price is the founder and owner of sunday-school-ideas-for-new-teachers.com, which has been offering resources and support for Sunday School Teachers in their teaching ministry, since 2005.
    </p>
