<% content_for( :h1_title ) do %>
    <% h1_title = "Welcome to the Teaching Ministry Manager Demo" %>
<% end %>
    <p>
      The Teaching Ministry Manager is a proposed enhancement to the Open Source Church Community Software, OneBody.  This demo is a 'Proof of Concept.'  It is meant to to demonstrate how the finished product could work, and to gather feedback from potential supporters of the project.
    </p>

    <%= link_to "Sign up now!", new_user_registration_path, :class => "large button red centered" %>
