<footer>
  <div class="line"></div>
  <p>Copyright 2010 - DemoApp.com</p>
  <div>
      <ul class="menu-footer">
        <%= render 'devise/menu/profile_items' %>
        <li class="menu-footer"><%= link_to "Contact", contact_path %></li>
        <li class="menu-footer"><%= link_to "Help", help_path %></li>
      </ul>
  </div>
      
</footer>

